<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Psiu DataCore - API</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>


  <!-- Seu script -->
  <script src="static/js/main.js"></script>

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

 <style>
  /* Estilos do Spinner */
  .spinner {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999;
  }

  .spinner-animation {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #333;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .spinner-text {
    margin-top: 10px;
    color: #333;
  }
</style>

</head>
<body>
 <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <div class="logo me-auto">
        <h1><a href="index.html">Psiu - DataCore</a></h1>
      </div>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
 <div class="header-social-links d-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </header>
    <div class="container mt-5 pt-4"> <!-- Adicionando padding top (pt-4) para empurrar o conteúdo para baixo -->
        <canvas id="myChart" width="400" height="200"></canvas>
        <div class="spinner">Loading...</div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    $(document).ready(function () {
        // Função para recuperar o token
    function getToken() {
       return localStorage.getItem('authToken');
    }
    var token = getToken();
        // Get parameters from URL
        const params = new URLSearchParams(window.location.search);
        const products = params.get('products');
        const startDate = params.get('startDate');
        const endDate = params.get('endDate');

        // Perform AJAX request with parameters
        $.ajax({
            url: 'https://api.psiu.ind.br/busca-custos-mp/',
            type: 'GET', // Assuming the endpoint is a GET request
            headers: {
                'accept': 'application/json',
                'token': token
            },
            data: {
                codigos_produto: products,
                data_inicial: startDate,
                data_final: endDate
            },
            beforeSend: function () {
                $('.spinner').show(); // Show spinner before the AJAX request
            },
            success: function (data) {
                $('.spinner').hide(); // Hide spinner after receiving data

                // Process API data
                var datasets = {};
                data.forEach(function (item) {
                    var subgrupo = item.SUBGRUPO_DESCRICAO;
                    if (!datasets[subgrupo]) {
                        datasets[subgrupo] = {
                            label: subgrupo,
                            data: [],
                            fill: false,
                            borderColor: '#' + (Math.random().toString(16) + '000000').substring(2, 8),
                            tension: 0.1
                        };
                    }
                    datasets[subgrupo].data.push(item.CUSTO_MEDIO);
                });

                // Build chart with processed data
                var labels = data.map(function (item) { return item.DATA_MOV; });
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: Object.values(datasets)
                    },
                    options: {
                        scales: {
        y: {
            beginAtZero: true
        }
    },
    plugins: {
        tooltip: {
            callbacks: {
                label: function(context) {
                    var label = context.dataset.label || '';
                    if (label) {
                        label += ': ';
                    }
                    if (context.parsed.y !== null) {
                        label += new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(context.parsed.y);
                    }
                    return label;
                }
            }
        },
        datalabels: {
            anchor: 'end',
            align: 'top',
            formatter: function(value, context) {
                return new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(value);
            }
        }
    }
                    }
                });
            },
            error: function (xhr, status, error) {
                $('.spinner').hide(); // Hide spinner in case of error
                console.error(xhr.responseText); // Print error to console
            }
        });
    });
</script>

</body>
</html>
